Requirements
pip install opencv-python
pip install mediapipe #(version doesnt matter)
pip install -U scikit-learn
#python 3.8.10 works for now, need to try with latest python version
Libraries used: cv2, os, pickle, sklearn, numpy
